@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #051937;

  font-family: "Arial", sans-serif; /* Optional: Set a global font family */
}

div.MuiDialogActions-root {
  display: none;
}

div.MuiPickersLayout-root * {
  color: white;
}

div.MuiPaper-root {
  background: linear-gradient(
    to right,
    rgba(128, 128, 128, 0.8),
    rgba(255, 255, 255, 0.5)
  );
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;

  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* App.css */
body {
  font-family: "Arial", sans-serif; /* Example font */
  font-size: 16px; /* Example font size */
  color: #333; /* Example text color */
}

.haAclf {
  border-radius: 6px;
  background-color: red;
}
.nsm7Bb-HzV7m-LgbsSe {
  background-color: red;
}
